.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-circle-list-item {
    width: 8px;
    height: 8px;
    background-position: -7px -7px;
}

.sprite-icon-behance {
    width: 13px;
    height: 10px;
    background-position: -7px -29px;
}

.sprite-icon-behance-hover {
    width: 13px;
    height: 10px;
    background-position: -7px -53px;
}

.sprite-icon-dribbble {
    width: 12px;
    height: 11px;
    background-position: -7px -77px;
}

.sprite-icon-dribbble-hover {
    width: 12px;
    height: 11px;
    background-position: -7px -102px;
}

.sprite-icon-facebook {
    width: 7px;
    height: 13px;
    background-position: -7px -127px;
}

.sprite-icon-facebook-hover {
    width: 7px;
    height: 13px;
    background-position: -7px -154px;
}

.sprite-icon-gplus {
    width: 11px;
    height: 11px;
    background-position: -7px -181px;
}

.sprite-icon-gplus-hover {
    width: 11px;
    height: 11px;
    background-position: -7px -206px;
}

.sprite-icon-location {
    width: 7px;
    height: 12px;
    background-position: -7px -231px;
}

.sprite-icon-location-hover {
    width: 7px;
    height: 12px;
    background-position: -7px -257px;
}

.sprite-icon-mail {
    width: 11px;
    height: 9px;
    background-position: -7px -283px;
}

.sprite-icon-mail-footer {
    width: 11px;
    height: 9px;
    background-position: -7px -306px;
}

.sprite-icon-mail-footer-hover {
    width: 11px;
    height: 9px;
    background-position: -7px -329px;
}

.sprite-icon-mail-hover {
    width: 11px;
    height: 9px;
    background-position: -7px -352px;
}

.sprite-icon-mobile {
    width: 7px;
    height: 13px;
    background-position: -7px -375px;
}

.sprite-icon-mobile-footer {
    width: 7px;
    height: 13px;
    background-position: -7px -402px;
}

.sprite-icon-mobile-footer-hover {
    width: 7px;
    height: 13px;
    background-position: -7px -429px;
}

.sprite-icon-mobile-hover {
    width: 7px;
    height: 13px;
    background-position: -7px -456px;
}

.sprite-icon-pinterest {
    width: 9px;
    height: 11px;
    background-position: -7px -483px;
}

.sprite-icon-pinterest-hover {
    width: 9px;
    height: 11px;
    background-position: -7px -508px;
}

.sprite-icon-right {
    width: 10px;
    height: 8px;
    background-position: -7px -533px;
}

.sprite-icon-right-hover {
    width: 10px;
    height: 8px;
    background-position: -7px -555px;
}

.sprite-icon-search {
    width: 12px;
    height: 12px;
    background-position: -7px -577px;
}

.sprite-icon-twitter {
    width: 11px;
    height: 9px;
    background-position: -7px -603px;
}

.sprite-icon-twitter-hover {
    width: 11px;
    height: 9px;
    background-position: -7px -626px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  display: table;
  width: 100%;
  color: #73879c;
  font-weight: 400;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
/*  background: rgba(255, 0, 0, 0.3);*/
}

.page-header {
/*  background: rgba(0, 255, 0, 0.4);*/
}

.page-header-communication {
  border-bottom: 1px solid #e6e9ed;
  background: #f5f7fa;
}

.page-header-communication .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px;
  font: 400 12px/1em Source Sans Pro;
/*  background: rgba(0, 0, 255, 0.4);*/
}

.page-header-communication a {
  color: #506a85;
}

.page-header a {
  text-decoration: none;
}

.page-header-contacts {
  max-width: 970px;
  padding: 13px 0;
/*  background: rgba(255, 0, 0, 0.3);*/
}

.page-header-contacts a {
  position: relative;
  padding-left: 20px;
}

.page-header-contacts a:not(:last-of-type) {
  margin-right: 20px;
}

.page-header-contacts a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.page-header-contacts a:hover {
  color: #00bc9c;
}

.page-header-contacts a:nth-of-type(1)::before {
  width: 11px;
  height: 9px;
  background-position: -7px -283px;
}

.page-header-contacts a:nth-of-type(1):hover::before {
  background-position: -7px -352px;
}

.page-header-contacts a:nth-of-type(2)::before {
  top: 1px;
  left: 5px;
  width: 7px;
  height: 13px;
  background-position: -7px -375px;
}

.page-header-contacts a:nth-of-type(2):hover::before {
  background-position: -7px -456px;
}

.page-header-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 180px;
/*  background: rgba(255, 0, 0, 0.3);  */
}

.page-header-share .share {
  position: relative;
  font-size: 0;
  width: 30px;
  padding: 13px 0;
}

.page-header-share .share::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.page-header-share .icon-facebook::before {
  width: 7px;
  height: 13px;
  background-position: -7px -127px;
}

.page-header-share .icon-gplus::before {
  width: 11px;
  height: 11px;
  background-position: -7px -181px;
}

.page-header-share .icon-twitter::before {
  width: 11px;
  height: 9px;
  background-position: -7px -603px;
}

.page-header-share .icon-pinterest::before {
  width: 9px;
  height: 11px;
  background-position: -7px -483px;
}

.page-header-share .icon-behance::before {
  width: 13px;
  height: 10px;
  background-position: -7px -29px;
}

.page-header-share .icon-dribbble::before {
  width: 12px;
  height: 11px;
  background-position: -7px -77px;
}

.page-header-share .icon-facebook:hover {
  background: #4668b3;
}

.page-header-share .icon-facebook:hover::before {
  background-position: -7px -154px;
}

.page-header-share .icon-gplus:hover {
  background: #de5745;
}

.page-header-share .icon-gplus:hover::before {
  background-position: -7px -206px;
}

.page-header-share .icon-twitter:hover {
  background: #2fbbed;
}

.page-header-share .icon-twitter:hover::before {
  background-position: -7px -626px;
}

.page-header-share .icon-pinterest:hover {
  background: #d94348;
}

.page-header-share .icon-pinterest:hover::before {
  background-position: -7px -508px;
}

.page-header-share .icon-behance:hover {
  background: #3079ff;
}

.page-header-share .icon-behance:hover::before {
  background-position: -7px -53px;
}

.page-header-share .icon-dribbble:hover {
  background: #eb6397;
}

.page-header-share .icon-dribbble:hover::before {
  background-position: -7px -102px;
}

.page-header-share a {
/*  margin-right: 18px;*/
}

.page-header-share a:last-of-type {
  margin-right: 0;
}

.page-header-nav {
  border-bottom: 1px solid #e6e9ed;
  background: #ffffff;
}

.page-header-nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0;
/*  background: rgba(0, 100, 100, 0.4);*/
  
}

.page-header-nav-logo {
  width: 170px;
  font-size: 0;
/*  margin-right: 88px;*/
}

.page-header-nav-logo:hover {
  opacity: 0.6;
}

.page-header-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 770px;
  list-style: none;
  margin: 0;
/*  padding-left: 90px;*/
  padding: 0;
/*  background: rgba(255, 0, 0, 0.3); */
}

.page-header-nav-menu > li {
  margin-right: 40px;
}

.page-header-nav-menu > li:last-of-type {
  margin-right: 0;
}

.page-header-nav-menu > li > a {
  text-transform: uppercase;
  font: 700 15px/1em Source Sans Pro;
  color: #506a85;
}

.page-header-nav-menu > li:hover > a {
  margin: -17px -23px;
  padding: 17px 22px;
  color: #00bc9c;
  border-radius: 3px;
  border: 1px solid #e6e9ed;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #f5f7fa;
}

.page-header-nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding-right: 20px;
}

.button-search {
/*  background: #ffffff;*/
  position: relative;
  z-index: 1;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0;
/*  margin-left: auto;*/
/*  margin-top: 4px;*/
/*  margin-right: 22px;*/
  cursor: pointer;
}

.button-search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: -7px -577px;
}

.box-search {
  position: absolute;
  width: 200px;
  height: 25px;
  padding: 12.5px 0;
  border-radius: 3px;
  background: transparent;
}

.box-search input[type="search"] {
  position: relative;
  z-index: 3;
  display: none;
  box-sizing: border-box;
  width: 200px;
  height: 25px;
  padding: 0 10px;
  border-radius: 3px;
  border: none;
  background: #e7e8e9;
  -webkit-animation: box-search-hover 0.15s linear;
          animation: box-search-hover 0.15s linear;
}

.box-search input[type="search"]:focus {
  display: block;
  position: fixed;
}

.button-search:hover ~ .box-search input[type="search"] {
  display: block;
}

.box-search input[type="search"]:hover {
  display: block;
}

.box-search button {
  display: none;
}

@-webkit-keyframes box-search-hover {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

@keyframes box-search-hover {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

.list-item-mega-menu > a {
  position: relative;
/*  z-index: 21;*/
/*  overflow: hidden;*/
}

.list-item-mega-menu:hover > a::after {
  content: "";
  position: absolute;
  z-index: 21;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f5f7fa;
}

.list-item-mega-menu:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mega-menu {
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 20;
  width: 1170px;
  min-height: 416px;
  top: 82px;
  left: 0px;
  padding: 30px 40px;
  border: 1px solid #e4e8ec;
  border-bottom-width: 2px;
  border-bottom-color: #ced2d6;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #f5f7fa;
}

.mega-menu .title {
  margin: 0;
  padding-bottom: 22px;
  text-transform: uppercase;
  font: 700 16px/22px Lato;
  color: #506a85;
}

.mega-menu .description {
  margin: 0;
  font: 400 14px/22px Source Sans Pro;
  color: #73879c;
}

.mega-menu-col-1 {
  width: 240px;
}

.mega-menu-col-1 .current-focus {
  position: relative;
  display: inline-block;
  font-size: 0;
  z-index: 7;
  background: #00bc9c;
}

.mega-menu-col-1 .current-focus:hover::before,
.mega-menu-col-1 .current-focus:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 3px;
  margin-top: -1.5px;
  margin-left: -9.5px;
  background: #ffffff;
}

.mega-menu-col-1 .current-focus:hover::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mega-menu-col-1 .current-focus:hover img {
  opacity: 0.1;
}

.mega-menu-col-1 .description {
  padding: 15px 0;
}

.mega-menu-col-1 .button {
  width: 133px;
  height: 44px;
  padding-top: 15px;
  font: 700 14px/1em Source Sans Pro;
  margin-top: 8px;
}

.mega-menu-col-2 {
  width: 247px;
}

.mega-menu-col-2 .title {
  padding-bottom: 17px;
}

.mega-menu-col-2 .special-pages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mega-menu-col-2 .special-pages-list li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
}

.mega-menu-col-2 .special-pages-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;  
  background-position: -7px -7px;
}

.mega-menu-col-2 .special-pages-list li a {
  font: 400 14px/22px Source Sans Pro;
  text-decoration: none;
  color: #73879c;
}

.mega-menu-col-2 .special-pages-list li a:hover {
  color: #00bc9c;
}

.mega-menu-col-3 {
  font-size: 0;
  width: 241px;
}

.mega-menu-col-4 {
  width: 247px;
}

.mega-menu-col-4 .description {
  padding-bottom: 15px;
}

.mega-menu-col-4 .button {
  font: 700 14px/1em Source Sans Pro;
  width: 115px;
  height: 44px;
  padding-top: 15px;
  margin-top: 10px;
  margin-left: 1px;
}

/* ///////////////////////////////// */

.main-slider {
  position: relative;
  width: 100%;
  min-height: 880px;
  padding-bottom: 23px;
  overflow: hidden;
}

.main-slider input[type="radio"] {
  display: none;
}

.main-slider .slider-slides {
  width: 100%;
  height: 880px;
  background: #d5dfe6;
}

.main-slider .slide {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 880px;
  -webkit-transition: left 0.7s ease;
  transition: left 0.7s ease;
}

.main-slider .slide-1 {
  background: url(../img/main-slider-slide-1.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.main-slider .slide-2 {
  background: url(../img/main-slider-slide-2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.main-slider .slide-3 {
  background: url(../img/main-slider-slide-3.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.main-slider .slide-4 {
  background: url(../img/main-slider-slide-4.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.main-slider .slide-5 {
  background: url(../img/main-slider-slide-5.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.main-slider .slide-1 .slide-text {
  width: 970px;
  text-align: center;
  padding-top: 285px;
  margin: 0 auto;
}

.main-slider .slide-2 .slide-text {
  width: 800px;
  text-align: right;
  padding-top: 240px;
  margin-left: auto;
  margin-right: 0;
}

.main-slider .slide-3 .slide-text {
/*  box-sizing: border-box;*/
  width: 770px;
  text-align: left;
  padding-top: 200px;
  margin-left: 0;
  margin-right: auto;
}

.main-slider .slide-4 .slide-text {
  width: 770px;
  text-align: right;
  padding-top: 90px;
  margin-left: auto;
  margin-right: 0;
}

.main-slider .slide-5 .slide-text {
  width: 670px;
  text-align: center;
  padding-top: 80px;
  margin: 0 auto;
}

.main-slider .button {
  width: 295px;
  height: 65px;
  padding-top: 24px;
}

.main-slider .slide-1 .button {
  margin: 0 auto;
}

.main-slider .slide-2 .button {
  margin-left: auto;
  margin-right: 0;
}

.main-slider .slide-3 .button {
  margin-left: 0;
  margin-right: auto;
}

.main-slider .slide-4 .button {
  margin-left: auto;
  margin-right: 0;
}

.main-slider .slide-5 .button {
  margin: 0 auto;
}

.main-slider .slide-text-title {
  margin: 0;
  padding-bottom: 13px;
  text-transform: uppercase;
  font: 900 78px/88px Lato;
  color: #ffffff;
}

.main-slider .slide-text-content {
  margin: 0;
  padding-bottom: 60px;
  font: 400 24px/33px Source Sans Pro;
  color: #a3b1bf;
}

.main-slider .slide-2 .slide-text-content {
  color: #ffffff;
}

.main-slider .slide-3 .slide-text-content {
  width: 670px;
  padding-top: 10px;
  color: #506a85;
}

.main-slider .slide-4 .slide-text-content {
  padding-top: 10px;
  color: #ffffff;
}

.main-slider .slide-3 .slide-text-title span,
.main-slider .slide-4 .slide-text-title span {
  position: relative;
  display: block;
  padding: 15px 40px;
  padding-bottom: 25px;
/*  background: #506a85;*/
}

.main-slider .slide-3 .slide-text-title span::before,
.main-slider .slide-4 .slide-text-title span::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 520px;
  height: 123px;
  background: #506a85;
}

.main-slider .slide-4 .slide-text-title span::before {
  width: 100%;
}

.main-slider .slide-4 .slide-text-title span:nth-of-type(1)::before {
  left: 14%;
  width: 86%;
}

.main-slider .slide-3 .slide-text-title span:nth-of-type(2)::before {
  width: 700px;
}

.main-slider .slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 119px;
  min-height: 15px;
  padding: 13px 15px;
  border-radius: 3px;
  background: #ffffff;
}

.main-slider .slider-pagination label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #506a85;
  cursor: pointer;
}

.main-slider .slider-pagination label:hover {
  background: #93c7c6;
}

.main-slider #main-radio-1:checked ~ .slider-pagination label[for="main-radio-1"],
.main-slider #main-radio-2:checked ~ .slider-pagination label[for="main-radio-2"],
.main-slider #main-radio-3:checked ~ .slider-pagination label[for="main-radio-3"],
.main-slider #main-radio-4:checked ~ .slider-pagination label[for="main-radio-4"],
.main-slider #main-radio-5:checked ~ .slider-pagination label[for="main-radio-5"] {
  background: #00bc9c;
}

.main-slider #main-radio-1:checked ~ .slider-slides .slide-1,
.main-slider #main-radio-2:checked ~ .slider-slides .slide-2,
.main-slider #main-radio-3:checked ~ .slider-slides .slide-3,
.main-slider #main-radio-4:checked ~ .slider-slides .slide-4,
.main-slider #main-radio-5:checked ~ .slider-slides .slide-5 {
  display: block;
}

.main-slider #main-radio-1:checked ~ .slider-slides .slide-1 {
  left: 0;
}

.main-slider #main-radio-1:checked ~ .slider-slides .slide-2,
.main-slider #main-radio-1:checked ~ .slider-slides .slide-3,
.main-slider #main-radio-1:checked ~ .slider-slides .slide-4,
.main-slider #main-radio-1:checked ~ .slider-slides .slide-5 {
  left: 100%;
}

.main-slider #main-radio-2:checked ~ .slider-slides .slide-2 {
  left: 0;
}

.main-slider #main-radio-2:checked ~ .slider-slides .slide-1 {
  left: -100%;
}

.main-slider #main-radio-2:checked ~ .slider-slides .slide-3,
.main-slider #main-radio-2:checked ~ .slider-slides .slide-4,
.main-slider #main-radio-2:checked ~ .slider-slides .slide-5 {
  left: 100%;
}

.main-slider #main-radio-3:checked ~ .slider-slides .slide-3 {
  left: 0;
}

.main-slider #main-radio-3:checked ~ .slider-slides .slide-1,
.main-slider #main-radio-3:checked ~ .slider-slides .slide-2 {
  left: -100%;
}

.main-slider #main-radio-3:checked ~ .slider-slides .slide-4,
.main-slider #main-radio-3:checked ~ .slider-slides .slide-5 {
  left: 100%;
}

.main-slider #main-radio-4:checked ~ .slider-slides .slide-4 {
  left: 0;
}

.main-slider #main-radio-4:checked ~ .slider-slides .slide-1,
.main-slider #main-radio-4:checked ~ .slider-slides .slide-2,
.main-slider #main-radio-4:checked ~ .slider-slides .slide-3 {
  left: -100%;
}

.main-slider #main-radio-4:checked ~ .slider-slides .slide-5 {
  left: 100%;
}

.main-slider #main-radio-5:checked ~ .slider-slides .slide-5 {
  left: 0;
}

.main-slider #main-radio-5:checked ~ .slider-slides .slide-1,
.main-slider #main-radio-5:checked ~ .slider-slides .slide-2,
.main-slider #main-radio-5:checked ~ .slider-slides .slide-3,
.main-slider #main-radio-5:checked ~ .slider-slides .slide-4 {
  left: -100%;
}

.main-slider .slider-toggle {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background: #5e7184;
  cursor: pointer;
}

.main-slider .slider-toggle::before,
.main-slider .slider-toggle::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;  
  border-radius: 1px;
  background: #8c98a5;
}

.main-slider .slider-toggle-left {
  left: 30px;
}

.main-slider .slider-toggle-right {
  right: 30px;
}

.main-slider .slider-toggle-left::before {
  left: 20px;
  top: 30px;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-slider .slider-toggle-left::after {
  left: 22px;
  top: 28px;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-slider .slider-toggle-right::before {
  right: 20px;
  top: 28px;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-slider .slider-toggle-right::after {
  right: 22px;
  top: 30px;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-slider .slider-toggle:hover::before,
.main-slider .slider-toggle:hover::after {
  background: #00bc9c;
}

.button {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font: 700 18px/1em Source Sans Pro;
  color: #ffffff;
  background: #00bc9c;
  box-shadow: inset 0 -2px 0 #00a085;
  border-radius: 3px;
}

.button:hover {
  background: #17a78b;
  box-shadow: inset 0 -2px 0 #148e76;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.button:active {
/*
  background: linear-gradient(to top, #04d5b2 25%, #467970);
  box-shadow: 0 0 2px 1px #01e6bf;
*/
}

.site-info {
  width: 770px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 75px;
  text-align: center;
/*  background: yellow;*/
}

.site-info .description {
  padding-top: 15px;
}

.site-info .title,
.projects .title,
.work-with-us .title {
  font: 700 44px/54px Lato;
  color: #506a85;
  margin: 0;
}

.site-info .description,
.projects .description,
.work-with-us .description {
  font: 400 22px/34px Source Sans Pro;
  color: #73879c;
  margin: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
/*  background: rgba(0, 255, 200, 0.4);*/
}

.features-item {
  position: relative;
  width: 270px;
  min-height: 180px;
  padding-left: 100px;
/*  background: rgba(200, 255, 123, 0.4);*/
}

.features-item::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 300px;
}

.features-item:nth-of-type(1)::before {
  width: 61px;
  height: 53px;
  background: url("../img/icon-heart.png") no-repeat;
}

.features-item:nth-of-type(2)::before {
  width: 46px;
  height: 65px;
  background: url("../img/icon-lamp.png") no-repeat;
}

.features-item:nth-of-type(3)::before {
  width: 56px;
  height: 53px;
  background: url("../img/icon-star.png") no-repeat;
}

.features-item .title {
  margin: 0;
  padding: 0;
  font: 700 26px/34px Lato;
  color: #506a85;
}

.features-item .description {
  font: 400 16px/25px Source Sans Pro;
  color: #73879c;
}

.projects {
  padding-top: 125px;
  padding-bottom: 130px;
  font-size: 0;
  background: #f2f5f7;
/*  background: rgba(50, 100, 200, 0.4);*/
}

.projects .title {
  text-align: center;
  padding-bottom: 20px;
}

.projects .description {
  text-align: center;
  padding-bottom: 75px;
}

.project-item {
  display: inline-block;
  min-height: 502px;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0 -1px 0 1px #e6e9ed;
}

.project-item:nth-of-type(2n) {
  margin-left: 30px;
}

.project-item > div:first-of-type {
  position: relative;
  background: #00bc9c;
}

.project-item:hover .project-item-description {
  color: #00bc9c;
}

.project-item:hover > div:first-of-type img {
  opacity: 0.1;
}

.project-item:hover > div:first-of-type::before,
.project-item:hover > div:first-of-type::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 3px;
  margin-top: -1.5px;
  margin-left: -9.5px;
  background: #ffffff;
}

.project-item:hover > div:first-of-type::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.project-item-description {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 6px;
  font: 700 20px/26px Lato;
  color: #506a85;
}

.projects small {
  font: 400 14px/22px Source Sans Pro;
  color: #73879c;
}

.projects-slider {
  position: relative;
/*  background: red;*/
  padding-top: 82px;
  padding-bottom: 67px;
}

.projects-slider input[type="radio"] {
  display: none;
}

.projects-slider .slide {
/*  position: absolute;*/
  display: none;
}

.projects-slider .slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 155px;
  min-height: 30px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
/*  background: yellow;*/
}

.projects-slider .slider-navigation .slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 65px;
  min-height: 15px;
/*  background: green;*/
}

.projects-slider .slider-navigation .slider-pagination label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #506a85;
  cursor: pointer;
}

.projects-slider .slider-navigation .slider-pagination label:hover {
  background: #93c7c6;
}

.projects-slider #projects-radio-1:checked ~ .slider-navigation .slider-pagination label[for="projects-radio-1"],
.projects-slider #projects-radio-2:checked ~ .slider-navigation .slider-pagination label[for="projects-radio-2"],
.projects-slider #projects-radio-3:checked ~ .slider-navigation .slider-pagination label[for="projects-radio-3"] {
  background: #00bc9c;
}

.projects-slider #projects-radio-1:checked ~ .slider-slides .slide-1,
.projects-slider #projects-radio-2:checked ~ .slider-slides .slide-2,
.projects-slider #projects-radio-3:checked ~ .slider-slides .slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-slider .slider-slides .slider-item {
  position: relative;
  background: #b9c0c4;
  width: 270px;
  height: 185px;
}

.projects-slider .slider-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #c9d2da;
  cursor: pointer;
}

.projects-slider .slider-toggle::before,
.projects-slider .slider-toggle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #f5f8f9;
}

.projects-slider .slider-toggle-left::before {
  top: 15px;
  left: 11px; 
  -webkit-transform-origin: 0 0; 
      -ms-transform-origin: 0 0; 
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.projects-slider .slider-toggle-left::after {
  width: 9px;
  top: 14px;
  left: 13px; 
  -webkit-transform-origin: 0 0; 
      -ms-transform-origin: 0 0; 
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.projects-slider .slider-toggle-right::before {
  width: 9px;
  top: 14px;
  right: 12px; 
  -webkit-transform-origin: 100% 100%; 
      -ms-transform-origin: 100% 100%; 
          transform-origin: 100% 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.projects-slider .slider-toggle-right::after {
  top: 13px;
  right: 10px; 
  -webkit-transform-origin: 100% 100%; 
      -ms-transform-origin: 100% 100%; 
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.projects-slider .slider-item .slider-item-description {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #00bc9c;
}

.projects-slider .slider-item:hover .slider-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-slider .slider-item:hover img {
  opacity: 0.1;
}

.projects-slider .slider-item-description-title {
  margin: 0;
  font: 700 16px/22px Lato;
  color: #ffffff;
}

.projects-slider .slider-item-description small {
  font: 400 14px/22px Source Sans Pro;
  color: #ffffff;
}

.projects-slider .slider-toggle:hover {
  background: #506a85;
}

.projects-slider .slider-toggle:hover::before,
.projects-slider .slider-toggle:hover::after {
  background: #00bc9c;
}

.work-with-us {
  width: 770px;
  margin: 0 auto;
  padding-top: 115px;
  padding-bottom: 130px;
  text-align: center;
/*  background: rgba(200, 200, 0, 0.4);*/
}

.work-with-us .title {
  padding-bottom: 23px;
}

.work-with-us .button {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 38px;
  padding-top: 16px;
}

/* верх футера */

.page-footer-row-1 {
  background: #2f4052;
}

.page-footer-row-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 75px;
}

.page-footer .title {
  padding-bottom: 23px;
  margin: 0;
  text-transform: uppercase;
  font: 700 16px/22px Lato;
  color: #ffffff;
}

.page-footer .description {
  margin: 0;
  font: 400 14px/22px Source Sans Pro;
  color: #a3b1bf;
}

.page-footer-about .title {
  padding-bottom: 21px;
}

.page-footer-about .description {
  padding-top: 19px;
  padding-bottom: 16px;
}

.page-footer-about h1 {
  font-size: 0;
}

.page-footer-about h1 a:hover {
  opacity: 0.6;
}

.page-footer-about .learn-more {
  position: relative;
  text-decoration: none;
  font: 700 15px/22px Source Sans Pro;
  color: #a3b1bf;
  padding-right: 17px;
}

.page-footer-about .learn-more::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 8px;
  background-position: -7px -533px;
}

.page-footer-about .learn-more:hover {
  color: #00bc9c;
}

.page-footer-about .learn-more:hover::before {
  background-position: -7px -555px;
}

.page-footer-latest {
  font-size: 0;
}

.page-footer-latest .latest-item,
.mega-menu-col-3 .latest-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.page-footer-latest .latest-item:nth-of-type(2n),
.mega-menu-col-3 .latest-item:nth-of-type(2n) {
  margin-right: 0;
}

.page-footer-latest .latest-item,
.mega-menu-col-3 .latest-item {
  font-size: 0;
  position: relative;
  background: #00bc9c;
}

.page-footer-latest .latest-item:hover::before,
.page-footer-latest .latest-item:hover::after,
.mega-menu-col-3 .latest-item:hover::before,
.mega-menu-col-3 .latest-item:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 3px;
  margin-top: -1.5px;
  margin-left: -9.5px;
  background: #ffffff;
}

.page-footer-latest .latest-item:hover::after,
.mega-menu-col-3 .latest-item:hover::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-footer-latest .latest-item:hover img,
.mega-menu-col-3 .latest-item:hover img {
  opacity: 0.1;
}

.page-footer-about,
.page-footer-latest,
.page-footer-contacts,
.page-footer-subscribe {
  width: 270px;
/*  background: rgba(255, 0, 0, 0.5);*/
}

.page-footer-contacts .title,
.page-footer-contacts .description {
  padding-bottom: 17px;
}

.page-footer-contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer-contacts p {
  margin: 0;
}

.page-footer-contacts ul li {
  position: relative;
  margin-bottom: 4px;
}

.page-footer-contacts ul li a {
  padding-left: 20px;
}

.page-footer-contacts ul li a:hover {
  color: #00bc9c;
}

.page-footer-contacts ul li a::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.page-footer-contacts ul li:nth-of-type(1) a::before {
  left: 2px;
  width: 7px;
  height: 12px;
  background-position: -7px -231px;
}

.page-footer-contacts ul li:nth-of-type(2) a::before {
  left: 2px;
  width: 7px;
  height: 13px;
  background-position: -7px -402px;
}

.page-footer-contacts ul li:nth-of-type(3) a::before {
  width: 11px;
  height: 9px;
  background-position: -7px -306px;
}

.page-footer-contacts ul li:nth-of-type(1) a:hover::before {
  width: 7px;
  height: 12px;
  background-position: -7px -257px;
}

.page-footer-contacts ul li:nth-of-type(2) a:hover::before {
  width: 7px;
  height: 13px;
  background-position: -7px -429px;
}

.page-footer-contacts ul li:nth-of-type(3) a:hover::before {
  width: 11px;
  height: 9px;
  background-position: -7px -329px;
}

.page-footer-contacts a {
  text-decoration: none;
  color: #a3b1bf;
}

.page-footer-subscribe .title,
.page-footer-subscribe .description {
  padding-bottom: 17px;
}

.page-footer-subscribe form {
  position: relative;
}

.page-footer-subscribe input[type="email"] {
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  padding-left: 12px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}

.page-footer-subscribe input[type="email"]::-webkit-input-placeholder {
  color: #a3b1bf;
}

.page-footer-subscribe input[type="email"]::-moz-placeholder {
  color: #a3b1bf;
}

.page-footer-subscribe input[type="email"]:-ms-input-placeholder {
  color: #a3b1bf;
}

.page-footer-subscribe .button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 88px;
  height: 30px;
  font: 700 13px/1em Source Sans Pro;
  border: none;
  cursor: pointer;
}

.page-footer-subscribe .button:active,
.page-footer-subscribe .button:focus {
  border: none;
  outline: none;
}

/* самый низ футера */

.page-footer-row-2 {
  position: relative;
  background: #283645;
}

.page-footer-row-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer-copyright p {
  margin: 0;
  font: 400 14px/22px Source Sans Pro;
  color: #707e8c;
/*  background: rgba(0, 0, 255, 0.5);*/
}

.page-footer-nav {
  max-width: 670px;
/*  background: rgba(0, 0, 255, 0.5);*/
}

.page-footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer-nav ul li {
  position: relative;
  margin-right: 22px;
}

.page-footer-nav ul li:not(:last-of-type)::before {
  content: ".";
  position: absolute;
  bottom: 5px;
  right: -13px;
}

.page-footer-nav ul li:last-of-type {
  margin-right: 0;
}

.page-footer-nav a {
  font: 400 14px/22px Source Sans Pro;
  color: #707e8c;
  text-decoration: none;
}

.page-footer-nav a:hover {
  color: #00bc9c;
}

.scroll-up {
  position: absolute;
  bottom: 21px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: #3c5065;
  cursor: pointer;
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 2px;
  background: #949ba2;
}

.scroll-up::before {
  width: 13px;
  top: 16px;
  left: 21px;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.scroll-up::after {
  top: 16px;
  left: 21px;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scroll-up:hover {
  background: #506a85;
}

.scroll-up:hover::before,
.scroll-up:hover::after {
  background: #00bc9c;
}

.page-header-nav-fixed {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e6e9ed;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.page-header-nav-fixed .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 15px 15px;
}

.page-header-nav-fixed-menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-header-nav-fixed-logo {
  width: 80px;
  height: 20px;
  background: url("../img/logo-header.png") no-repeat 50% 50%;
  background-size: 80px 20px;
}

.page-header-nav-fixed-logo img {
  display: none;
}

.mega-menu-fixed {
  top: 49px;
}

.page-header-nav-fixed-menu > li:hover > a {
  margin: -15px -23px;
  padding: 15px 22px;
}

@-moz-document url-prefix("file:///C:/Users/VaNeS/Desktop/Main/reen/reen-200916/index.html") {
  .page-header-nav-user {
    position: relative;
  }
  .box-search {
    position: absolute;
    top: -100%;
    left: -50px;
  }
  .page-header-nav-menu .list-item-mega-menu:hover > a {
    margin: 0px 0px;
    margin-left: -23px;
    padding: 17px 22px;
  }
  .page-header-nav-menu .list-item-mega-menu:hover + li > a {
    margin-left: -23px;
  }
}